<section>
	<header>
		<a href="https://picasaweb.google.com/EWBUKPhotoCompetition/2012PhotographyCompetitionWinners#5859306159305924482"><img src="assets/img/ewb.png" alt="Engineers without border" /></a>
		<h2 id="volunteering">Engineers Without Borders</h2>
		<p>Thanks to EWB-UK in 2011 I travelled to India to work with Shelter Associates for 3 months. Since then I have been volunteering as a placement manager, helping more recent volunteers with their own placements. This includes the continuation of the Shelter Associates placement and also a new placement this year which aims to construct a long range wireless mesh network in rural Nepal. Along with this I have been involved in a few IT projects with EWB. You can find out more about the placements programme below.</p>
		<nav>
			<a href="http://www.ewb-uk.org/programmes/placements">EWB-UK Placements</a>
		</nav>
	</header>
	<article>
		<img src="assets/img/india.png" alt="Elephant" />
		<h3 id="shelter">Shelter Associates</h3>
		<p>In 2011 I travelled to India, supported by EWB-UK to work with Shelter Associates in Pune. Shelter Associates are an NGO who work to improve the lives of slum dwellers in Maharastra. During my three months with Shelter I worked on their data system and Drupal based website. The project has progressed since my visit thanks to more recent volunteers, who have worked on improving the slum survey system, and expanding this to allow surveys to be completed on mobile devices which removes the manual process of entering data collected on paper. Shelter is a great example of how Information Technology can be used to make measurable difference in international development.</p>
		<nav>
			<a href="http://shelter-associates.org">Shelter Associates</a>
			<a href="http://timesofindia.indiatimes.com/amazing-indians/urban-crusaders/pratima-joshi/Sheltering-the-urban-poor-I/amzvideo/10817319.cms">Times of India Shelter Associates</a>
			<a href="http://graememaciver.com/india/">My India Blog</a>
		</nav>
	</article>

	<article>
		<h3 id="icetoolkit">ICE Toolkit</h3>
		<p>This is an engineers toolkit for international development which frames common challenges an engineer may face while working in the field, and potential solutions to those challenges. This helps the engineer to respond and also understand the approach required to deal with such challenges. The toolkit was originally planned as a set of printed cards, though it was decided that for a longer lifespan the toolkit would be better as set of content which lived in a CMS of some sort. The end result is a Drupal website containing all of the ~80 cards created by the Institute of Civil Engineers presidents apprentices in 2009-2010. The website was officially launched on the 22nd January 2013 in the House of Commons.</p>
		<nav>
			<a href="http://www.engineers.org.uk/">ICE Toolkit</a>
		</nav>
	</article>

	<article>
		<img src="assets/img/massive.png" alt="massive small change logo" />
		<h3 id="massivesmallchange">Massive Small Change</h3>
		<p>EWB-UK recently held its first conference in London and I was asked to help out with a one page website for the conference. While squeezed for time and lacking a real designer's eye I stuck together a simple one pager with a fun D3.js powered interaction in it's header. </p>
		<nav>
			<a href="http://www.massivesmallchange.org">Massive Small Change Conference</a>
		</nav>
	</article>
</section>