<section>
	<header>
		<h2 id="work">My Work</h2>
		<p>I love to solve problems, and the idea of taking a solution to a problem I'm passionate about and creating a business from it thrills me. The start up community in London was a large part of the reason I moved here, I wanted to surround myself with likeminded people and get involved. </p>
	</header>
	<article>
		<a href="https://www.facebook.com/photo.php?fbid=226132517481461&set=a.226132334148146.52063.212070242221022&type=1&theater"><img src="assets/img/cohaesus2.png" /></a>
		<h3 id="cohaesus">Cohaesus Projects Ltd</h3>
		<h4>March 2012 - Present</h4>
		<p>I have been with Cohaesus since March 2012 building the technical side of digital campaigns for some of the worlds largest marketing agencies. Cohaesus remains platform agnostic which exposes our team to lots of technologies and environments. My role here extends beyond the software engineering. I am responsible for the day to day running of projects and our outsourced teams, a point of contact for our clients, regularly attend client meetings and act as lead developer. I work as a full stack engineer, getting involved in all areas of the applications life cycle.</p>
		<nav>
			<a href="http://cohaesus.co.uk">Cohaesus</a>
		</nav>
	</article>

	<article>
		<h3 id="freelance">Freelance</h3>
		<h4>2008 - 2012</h4>
		<p>During my time at university I got into freelancing and working with my own clients. My projects were mainly website builds for small businesses, and the odd tech support job. My projects may not have been ground breaking, but the experience of gaining and managing my own clients is one that I am definitely proud of. Freelancing was a lot of fun, and being able to say goodbye to my shelf stacking job made the difficulties worth it.</p>
	</article>
</section>