/**
 *	Notes: box-sizing breaks <IE8;
 *
 */

// $gutter-width: 20px;
// $full-width: 970px;
// $colWidth: 41.875px;
$gutter-width: 2%;
$min-width: 970px;
$max-width: 1240px;
$colWidth: 4.25%;

html, body {
    min-width: $min-width;
    max-width: $max-width;
    position: relative;
    min-height: 100%;
    @extend .clearfix;
}

.left {
    max-width: ($max-width*0.21)+($max-width*0.02); // 4 columns + 4 gutters
    min-width: ($min-width*0.21)+($min-width*0.02);
}

.row {
    position: relative;
    width: 100%;
    @extend .clearfix;
}

*, *:after, *:before {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.space {
    height: 10px;
}

.grid {
    width: $min-width;
    margin: 0 auto;
}

.col-1, .col-2, .col-3, .col-4,
.col-5, .col-6, .col-7, .col-8,
.col-9, .col-10, .col-11, .col-12,
.col-13, .col-14, .col-15, .col-16 {
    margin-left: $gutter-width/2;
    margin-right: $gutter-width/2;
    float: left;
}

.col-no-left {
    margin-left: 0;
    margin-right: $gutter-width;
}

.col-last {
    margin-right: 0;
}


.col-1 { width: $colWidth; }
.col-2 { width: $colWidth*2 + 1*$gutter-width; }
.col-3 { width: $colWidth*3 + 2*$gutter-width; }
.col-4 { width: $colWidth*4 + 3*$gutter-width; }
.col-5 { width: $colWidth*5 + 4*$gutter-width; }
.col-6 { width: $colWidth*6 + 5*$gutter-width; }
.col-7 { width: $colWidth*7 + 6*$gutter-width; }
.col-8 { width: $colWidth*8 + 7*$gutter-width; }
.col-9 { width: $colWidth*9 + 8*$gutter-width; }
.col-10 { width: $colWidth*10 + 9*$gutter-width; }
.col-11 { width: $colWidth*11 + 10*$gutter-width; }
.col-12 { width: $colWidth*12 + 11*$gutter-width; }
.col-13 { width: $colWidth*13 + 12*$gutter-width; }
.col-14 { width: $colWidth*14 + 13*$gutter-width; }
.col-15 { width: $colWidth*15 + 14*$gutter-width; }
.col-16 { width: $colWidth*16 + 15*$gutter-width; }

.push-col-1 { margin-left: $colWidth + $gutter-width; }
.push-col-2 { margin-left: $colWidth*2 + 1*$gutter-width + $gutter-width; }
.push-col-3 { margin-left: $colWidth*3 + 2*$gutter-width + $gutter-width; }
.push-col-4 { margin-left: $colWidth*4 + 3*$gutter-width + $gutter-width; }
.push-col-5 { margin-left: $colWidth*5 + 4*$gutter-width + $gutter-width; }
.push-col-6 { margin-left: $colWidth*6 + 5*$gutter-width + $gutter-width; }
.push-col-7 { margin-left: $colWidth*7 + 6*$gutter-width + $gutter-width; }
.push-col-8 { margin-left: $colWidth*8 + 7*$gutter-width + $gutter-width; }
.push-col-9 { margin-left: $colWidth*9 + 8*$gutter-width + $gutter-width; }
.push-col-10 { margin-left: $colWidth*10 + 9*$gutter-width + $gutter-width; }
.push-col-11 { margin-left: $colWidth*11 + 10*$gutter-width + $gutter-width; }
.push-col-12 { margin-left: $colWidth*12 + 11*$gutter-width + $gutter-width; }
.push-col-13 { margin-left: $colWidth*13 + 12*$gutter-width + $gutter-width; }
.push-col-14 { margin-left: $colWidth*14 + 13*$gutter-width + $gutter-width; }
.push-col-15 { margin-left: $colWidth*15 + 14*$gutter-width + $gutter-width; }
.push-col-16 { margin-left: $colWidth*16 + 15*$gutter-width + $gutter-width; }


.clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}