.clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

@mixin transition($properties...) {
    -webkit-transition: $properties;
    -moz-transition: $properties;
    -o-transition: $properties;
    -ms-transition: $properties;
    transition: $properties;
}

@import "_layouts.scss";
@import "_fonts.scss";
@import "_font-awesome.scss";